html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
}

#main2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.gallery{
    width: 100%;
     height: 100%;
     background-color: #042A52;
    flex-direction: row;
    align-items: center; 

}
.hed{
    color: white;
    text-align: center;
    font-size: 10vh;
    padding: 20px;
    text-decoration: none;
    font-family: "Mukta", sans-serif;
    font-weight: 700;
  
}
.hed>h1{
  color: white;
  font-size: 10vh;
  font-weight: 700;
}
.gc{
    display: flex;  
    gap: 2vh;
}
.gi{
    border-radius: 10px;
    position: relative;
    overflow: hidden;    
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
     
}
/* ----------------------------------------------------------- */
.fh{
  height: 10vh;
  width: 98.7vw;
  background-color: #000000;
}

.wraper .slider{
    display: flex;
    height: 72vh;
    width: 98.7vw;
    padding: 50px 0;
     justify-content: center;
    
}
.gc img{
    width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.gcntrl{
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    color: aliceblue;
    display: flex;
}
.container{
    padding: 30px 0px;
    height: 100vh;
    background-color: #042A52; 
}
.pricing-card-container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hd{
    width: 98.7vw;
    height: 10vh;
   
    position: relative;
}
.hd h1{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
   margin-left: 45vw;
   
}

.card{
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 290px;
}
.card .upper-part{
    text-align: center;
}
.upper-part h2{
    color: #332758;
}
.upper-part .discount{
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.discount small{
    color: #fbfcff;
    text-decoration: line-through;
}
.discount span{
    background-color: #eae4fe;
    color: #eeedf3;
    padding: 5px 15px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 20px;
}
.price{
    margin-top: 1rem;
}
.price h3{
    color: #f8f8fb;
    font-size: 15px;
}
.price span{
    font-size: 45px;
    font-weight: 700;
}
.card button{
    border: none;
    background-color: #5562f3;
   
    width: 80%;
    padding: 10px 0px;
    border-radius: 5px;
    margin-top: 3rem;
    cursor: pointer;
    align-items: center;
}
.upper-part p{
    color: #f9f9fa;
    font-size: 12px;
    margin: 1rem 0rem;
}
.card hr{
    border: none;
    height: 2px;
    background-color: #feffff73;
}
.feature{
    margin-top: 1rem;
}
.feature h4{
    color: #f9f8fc;
    margin-bottom: 1rem;
    font-size: 18px;
}
.feature ul li{
    list-style: none;
    margin-top: 0.3rem;
    color: #f6f5fb;
}
.feature span{
    color: #f7f6fc;
    font-weight: 700;
}
ul li i{
    color: #f6faf6;
    margin-right: 0.5rem;
}
.yellow{
    color: #fdfdfa;
}
.dropdown-btn{
    margin-top: 1rem;
    text-align: center;
}
.dropdown-btn a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}
.dropdown-btn i{
    margin-left: 0.1rem;
    font-size: 13px;
}
.card-2{
    position: relative;
}
.card-2 .badge{
    position: absolute;
    top: -15px;
    left: 65px;
    background-color: #fb5185;
    border-radius: 20px;
    padding: 5px 50px;
    color: #fff;
    font-weight: 500;
}
.card-2 .discount span{
    color: #fb5185;
    background-color: #fee9ee;
}
.card-2 .price,.card-3 .price{
    margin-bottom: 1.5rem;
}
.card-2 .free{
    color: #fb5185;
    font-weight: 600;
    font-size: 1.1rem;
}
.card-2 button{
    margin-top: 0.5rem;
    background-color: #5562f3;
}

.card-3 .free{
    color: #fdfcfe;
    font-weight: 600;
    font-size: 1.1rem;
}
.card-3 button{
    margin-top: 0.5rem;
    background-color: #5562f3;
}
.card:hover{
    box-shadow: 3px 5px 10px #e1e3e8;
    transform: scale(1.03,1.03);
    transition: 0.4s;
}
.card-2 p {
    color: #fcfdff;
}
.card-3 p {
    color: #fcfdff;
}
.card p {
    color: #fcfdff;
}
#main6{
  height: 100vh;
    width: 98.7vw;
    background-color: #09294d;
}
.gl{
  height: 10vh;
  width: 98.7vw;
  align-items: center;
  justify-content: center;
}

.gl h1{
  color: white;
    font-size: 2.5rem;
    font-weight: 700;
    margin-left: 45vw;
}
.grid-wrapper{
    height: 90vh;
    width: 98.7vw;
    display: grid;

    
    grid-gap: 1vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-auto-rows: 45%;
    grid-auto-flow: dense;
}
.fd > img{
    max-width: 100%;
    height:auto;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;


}
.fd{
 
 height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

#main8{
    height: 150vh;
    width: 98.7vw;
    background-image: url(chobis/dd.png);
    background-color: #09294d;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.naf{
  height: 10vh;
    width: 98.7vw;
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.continer {
    height: 140vh;
    width: 98.7vw;
    display: flex;
    justify-content: center;
    padding-top: 40vh;
    max-width: 1200px;
    margin:  auto;
}
.hed{
    height: 10vh;
    width: 98.7vw;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10vh;
}
.bigb{
    height: 80vh;
     width: 70%;
     display: flex;
     background-color: #014F7F;
     justify-content: space-between;
     border-radius: 10px;
     backdrop-filter: blur(10px);
     box-shadow:0 0 25px #000000 ;
 }
 .b1{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 80px 20px;
    width: 50%;
    background-color: #042A52;
    color: #e1e3e8;
    align-items: center;
    justify-content: center;
}
.b2{
    width: 50%;
    justify-content: center;
    color: #e1e3e8;
}

.b1 .b2 {
    flex: 1;
    padding: 20px;
    color: #eeedf3;
}
 

.b1 p{
    margin-bottom: 10px;
    padding-left: 3vw;
    
}

.b1 h2{
font-weight: 700;
font-size: 3vh;
padding-left: 3vw;

}
.b2 h2{
    font-weight: 700;
    font-size: 3.5vh;
    margin: 9vh 0 0 3.7vw ;
    }

.b2 form {
    row-gap: 1vh    ;
    display: flex;
    flex-direction: column;
    margin: 4vh 8vh 0 4vw;
}

.b2 form input {
    margin-bottom: 10px;
    padding: 10px;
    background-color:#042A52;
    border: none;
    
}
.b2 form textarea{
    margin-bottom: 1px;
    line-height: 6vh;
    padding: 10px;
    background-color:#042A52;
    border: none;
}

.b2 form button {
    padding: 10px;
    height: 8vh;
    margin-top: 5vh;
    width: 15vw;
    
    background-color: #007bff;
    color: white;
    border: none;
    
    cursor: pointer;
}

.b2 form button:hover {
    background-color: #0056b3;
}
#nap{
    height: 10vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.668);
    position: fixed;
    display: flex;
  }
  #logo{
    height: 5vh;
    width: 9vh;
    margin-left: 5vh;
    margin-top: 1vh;
  }
  #aquarium h3{
    margin-left: 1vh;
    margin-top: 4vh;
    color: aliceblue;
    font-family: "Mukta", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
 #head{
  height: 10vh;
  width: auto;
  margin-left: 18vh;
  display: flex;
  justify-content: space-between;
 }
 .hi h3{
   margin-top: 4vh;
   color: aliceblue;
   height: auto;
   width: auto;
   margin-left: 6vh;
 }
  .ul{
    height: 2px;
    width: 0vh;
    background-color: red;
    margin-left: 6vh;
    transition: width 0.3s;
 }
 