*{
    margin:0px;
    padding: 0%;
    box-sizing: border-box;
  }
  html,body{
    height: 100vh;
    width: 100vw;
  }
  #main1{
    height: 100vh;
    width: 100vw;
    background-image: url(wheal.jpg);
    background-image: cover;
    background-position: center;
  }
  #nap{
    height: 12vh;
    width: 100vw;
    background-color: rgba(2, 61, 93, 0.668);
    position: fixed;
    display: flex;
  }
 